psycopg2-binary
faker
pandas
numpy
pyarrow
python-dotenv
requests
confluent-kafka
dbt-core
dbt-duckdb
dbt-bigquery
sentence-transformers
duckdb
pgvector
pytest
django
djangorestframework
django-cors-headers
google-cloud-bigquery
anthropic
